


    *{
        margin: 0;
        padding: 0;
    }
    :root{
        --colornoirprofond:#1d2127;
        --colornoirinferieur:#212529;
    }
body{
    background-color: var(--colornoirprofond);
}
 



.container .top{
    width: 100%;
    height: 110px;
    background-color:black;
    display: flex;
    position: fixed;
    z-index: 9999;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}



.container .top header{
     width: 100%;
    height: 50%;
    background-color:;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colornoirinferieur);
}

.container .top .header1{
    width: 100%;
    height: 50%;
    background-color:;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--colornoirinferieur);
}
.container .top .header1 .logo{
    margin-left: 20px;
}
.container .top .header1 .logo a{
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

.container .top .header1 button{
    background-color: #9ccc65;
    padding: 5px 15px;
    border: none;
    margin-right: 30px;
    border-radius: 4px;
    font-size: 15px;
    color: #ffffff;
    font-family: arial,sans-serif;
    font-weight: normal;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0,0,0,0.3);
}

.container header nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.container header nav a{
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
}
.container header  button{
    color:#ffffff;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color:#1877f2;
}
.logo h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #38bdf8;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #38bdf8;
}

.container{
    width: 100%;
    height: auto;
    display: flex ;
    background-color: #ffffff;
}

main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
 /* padding: 2rem 0;*/
  scroll-behavior: smooth;
  margin: ;
  bac
  display: flex;
  flex-direction: column;
  padding-top: 65px;
}



section{
  width: 100%;
  height: 550px;
  /*margin: auto;*/
  background-color: beige;
}
.section1{
    background-color: var(--colornoirinferieur);
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2rem;
    height: 600px;
    position: relative;
    margin-top: 40px;
}
.section1-left{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-left .paragraphe{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: start;
    width: 80%;
    gap: 20px;
    padding: 20px 0 20px 0;
    justify-content: center;
    flex-direction: column;
    color: gray;
}

.section1-left .paragraphe span{
    color: blue;
}

.section1-left .paragraphe h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
}
.section1-left .paragraphe h1 em{
    color: blue;
    font-size: 20px;
}
.section1-left .paragraphe a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}


.section1-left .popular{
    background-color: rgb(44, 44, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 150px;
    position: absolute;
    gap: 10px;
    bottom: -70px;
    left: 0;
    z-index: 200;
    justify-content: center;
}
.section1-left .popular .icones{
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: rgb(0,0,0,0.7);
}
.section1-left .popular p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}
.section1-left .popular span{
    color: #b6aaaa;
    font-weight: 900;
}





.section1-right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    align-items: center;
}
.section1-right svg{
    position: absolute;
    z-index: 1;
}
.section1-right .image{
    border: 10px solid white;
    width: 500px;
    height:380px;
    z-index: 100;
    border-radius: 3px;
}
.section1-right .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}











.section2{
        width: 100%;
        background-color:#ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 750px;
        position: relative;
        z-index: 100;
    }
    .section2 .paragraphe{
        width: 80%;
        height: 300px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }
    .section2 .paragraphe h1{
        color: #1d2127;
        width: 50%;
    }
    .section2 .paragraphe h2{
        color: blue;
         width: 50%;
    }
    .section2 .paragraphe span{
        color: gray;
        line-height: 1.5;
        font-size: 20px;
        text-align: center;
    }

    .section2 .details{
        width: 70%;
        height: 200px;
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: space-around;
    }
     .section2 .details1{
        width: 150px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
     }

     .section2 .details1 h1{
        font-size: 60px;
     }
      .section2 .details1 a{
        text-decoration: none;
        font-size: 15px;
        color: blue;
     }
      .section2 .details2{
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        padding: 20px;
     }
      .section2 .details2 h1{
        font-size: 60px;
     }
      .section2 .details2 a{
        text-decoration: none;
        font-size: 15px;
        color: blue;
     }
     .section3{
        width: 100%;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background-color:white;
        height: ;
        position: relative;
     }
     .section3 .paragraphe{
        width: 60%;
        height: 200px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;

     }
     .section3 h1{
        color: rgb(0,0,0,0.7);
     }
     .section3 .image{
        width: 500px;
        height: 250px;
        position: absolute;
     }
     .section3 .image1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
    
     .section3 .i1{
        bottom: -25%;
        left: 100px;
        z-index: 1;
        border: 1px solid rgb(0,0,0,0.1);
     }
     .section3 .i2{
        bottom: -35%;
        left: 200px;
        z-index: 2;
        border: 1px solid rgb(0,0,0,0.1);
     }
     .section3 .i3{
        bottom: -100px;
        left: 300px;
        z-index: 3;
        border: 1px solid rgb(0,0,0,0.1);
     }

     .section3 .i4{
        bottom: -200px;
        left: 400px;
        z-index: 4;
        border: 1px solid rgb(0,0,0,0.1);
     }

     .section3 .i5{
        bottom: -100px;
        left: 500px;
        z-index: 5;
        border: 1px solid rgb(0,0,0,0.1);
     }

     .section41{
        background-color: var(--colornoirinferieur);
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
    
        position: relative;
        z-index: ;
        justify-content: center;
     }
          .section4{
        clip-path: polygon(
            0% 0%, 100% 0, 100% 70%,93% 72%,83% 80%,70% 80%, 60% 90%,40% 90%,30% 100%, 50% 100%,0 100% 
            );
         width: 100%;
        height: 520px;
        /*margin: auto;*/
        color: beige;
        background: #242d36;
        gap: 10px;
        position: relative;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: 2rem;
        align-items: center;
    }
    .section41 .points{
  position: absolute;
  z-index: 999;
  inset: 0;
  pointer-events: none;
  background-color: ;
   inset: 0;
  pointer-events: none;
}
.points circle {
  fill: white;
  filter: drop-shadow(0 0 0.1px white);
}


.section4-left{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4-left .image{
    width: 300px;
    height: 300px;
}

.section4-left .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    .section4-right{
        display: flex;
        align-items: center;
        width: 95%;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .section4-right h1{
        color: #ffffff;
    }

    .section4-right .paragraphe{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: gray;
        font-size: 20px;
        text-align: center;
    }

    .section4 .point{
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        z-index: 100;
    }

    
    .section4 .p1{
        background-color: greenyellow;
        position: absolute;
        bottom:0px;
        left: 400px;
    }

    .section51{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        position: relative;
        z-index: 0;
    }
    .section5{
         width: 100%;
         color: white;
        height: 500px;
        /*margin: auto;*/
        background:var(--colornoirinferieur);
        clip-path: polygon(
        0% 0%, /* 1er sommet (droit) */
        100% 0, /* 2ème sommet (droit) */
        100% 90%, /* 3ème sommet (100°) */
        50% 100%, /* 4ème sommet (160°) */
        0 90% /* 5ème sommet (100°) */
     );
        gap: 20px;
        display: flex;
        position: relative;
        z-index: 0;
        align-items: center;
        justify-content: space-around;
    }

    .section5-left{
        height: ;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section5-left h1{
        color: white;
    }
    .section5-left .paragraphe{
        width: 60%;
        display: flex;
        height: 400px;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: gray;
        font-size: 20px;
        text-align: center;
        background-color: var(--colornoirinferieur);
    }
    .section5-right{
        height: 80%;
        width: 40%;
        background-color: var(--colornoirinferieur);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

.section5-right .image{
    width: 300px;
    height: 300px;
}

.section5-right .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



    .section6{
        background-color: #ffffff;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section6 p{
        background-color:#ffffff;
        width: 70%;
        height: 70%;
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .section6 span{
        font-size: 60px;
    }

    .section7{
        width: 100%;
        height: auto;
        /*margin: auto;*/
        background:#ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section7  .header{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section7  .header nav{
        width: 500px;
        display: flex;
        gap: 18px;
    }
    .section7  .header nav a{
        font-size: 20px;
        color: rgb(0,0,0,0.5);
    }
    .grid-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 par ligne */
    gap: 20px;
    background-color: ;
    }

    .item {
    height: 180px;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }
    .item:hover{
         box-shadow: 
    0 40px 80px rgba(0, 0, 0, 0.15);
    transition: 1.3s;
    }
    .item .image{
        width: 100%;
        height: 70%;
        background-color: #38bdf8;
    }
    .item .image img{
        width: 100%;
        height: 100%;
    }
    


.image {
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

.item:hover img {
  cursor: pointer;
}

.item span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
}

.section8{
        width: 100%;
         color: white;
        height: 500px;
        /*margin: auto;*/
        background-color: var(--colornoirinferieur);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
}

.section8-left{
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section8-left .image{
    width: 450px;
    height: 200px;
    position: absolute;
}

.section8-left .i1{
        bottom: 100px;
        left: 0px;
        z-index: 1;
        border: 1px solid rgb(0,0,0,0.1);
     }
     .section8-left .i2{
        bottom: 5%;
        left: 150px;
        z-index: 2;
        border: 1px solid rgb(0,0,0,0.1);
     }
     .section8-left .i3{
        bottom: 200px;
        left: 50px;
        z-index: 3;
        border: 1px solid rgb(0,0,0,0.1);
     }

     .section8-left .i4{
        bottom: -200px;
        left: 400px;
        z-index: 4;
        border: 1px solid rgb(0,0,0,0.1);
     }

     .section8-left .i5{
        bottom: -100px;
        left: 500px;
        z-index: 5;
        border: 1px solid rgb(0,0,0,0.1);
     }


.section8-right{
     width: 45%;
    height: 100%;
    background-color:var(--colornoirinferieur);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section8-right .paragraphe{
    display: flex;
    width: 80%;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.section8-right .paragraphe span{
    color: gray;
    font-size: 20px;
}

.section8-right .paragraphe h3{
    text-align: justify;
    color: #ffffff;
}

.section9{
        width: 100%;
         color: white;
        height: 500px;
        /*margin: auto;*/
        background:#ffffff;
        clip-path: polygon(
        0% 0%, /* 1er sommet (droit) */
        100% 0, /* 2ème sommet (droit) */
        100% 90%, /* 3ème sommet (100°) */
        50% 100%, /* 4ème sommet (160°) */
        0 90% /* 5ème sommet (100°) */
     );
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.section10{
    background: #fff;
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);*/
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 50px;
}

.section10 .paragraphe{
    background-color: #1877f2;
    width: 60%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.section10 button{
     color:#ffffff;
    padding: 20px 30px;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color:#212529;
    font-size: 18px;
}
.section11{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: column;
height: auto;
}
.section111{
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    color: gray;
    flex-direction: column;
}
.section111 h1{
    font-size: 45px;
    color: rgb(0,0,0,0.8);
}
.section112{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section112 .grid-container2 {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    }


 .section112  .grid-container2 .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 2px 3px ;
    width: calc(100%/7 - 20px); 
    background: #fff;
    border: 6px solid transparent; 
    transition: border 0.4s ease; 
}

.section112 .grid-container2 .grid-item:hover {
    border-color: #0c4a92; 
    cursor: pointer;
}


   


 .section112  .grid-container2 .grid-item i {
      font-size: 30px;
      color: blue  ;      
      margin-bottom: 10px;
    }
 .section112 .grid-container2  .grid-item span {
      font-size: 14px;
      font-weight: bold;
    }



    /*-----------footer----------------*/
   .section13{
        width: 100%;
        background-color: var(--colornoirinferieur);
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: gray;
    }
    .section13 h1{
        color: #ffffff;
    }
    .section13 .social-icons {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  transition: transform 0.3s, filter 0.3s;
}
.social-icons a{
    text-decoration: none;
}
.icon-box:hover {
  transform: scale(1.1);
  background-color: #1877f2;;
  filter: brightness(1.2); /* léger éclaircissement */
}

    footer{
        width: 100%;
        background-color: var(--colornoirprofond);
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
    }
       footer a{
        text-decoration: none;
        color: #ffffff;
       }
